body {
  background-color:#161616;
}



.header {
                          text-align: center;
                                    font-size: 50px;
                                              font-family: verdana;
                                                        display: block;
                                                                  color: #6BA086;
                                                                          }

                                                                          .currency {

                                                                                      position: absolute;
                                                                                                top: 270px;
                                                                                                          left: 43%;
                                                                                                                  }
                                                                                                                  iframe {
                                                                                                                      transform: scale(2.3) ;
                                                                                                                             
                                                                                                                        }
                                                                                                                          
                                                                                                                          
                                                                                                                                

                                                                                                                        #themoneyconverter-mini {
                                                                                                                                    color: lightblue; 
                                                                                                                                              width: 173px;
                                                                                                                                                        height: 188px;
                                                                                                                                                                  
                                                                                                                                                                }


